@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Oswald&display=swap');

:root{
            --cor-primaria: #E500C6;
            --cor-segundaria: #ff2ed6;
            --cor-terciaria: #e892e1;
            --cor-preta: #000000;
}

*{
  margin: 0;
  padding: 0;
  
}

.casamento__container{
    margin: 10% 15%;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center;
    font-family: 'Alkatra', cursive;
    gap: 25px;
    
 }

body{
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--cor-terciaria);
  color: var(--cor-segundaria);
}
.cabecalho {
  padding: 2% 0% 0% 29%;
  color: var(--cor-primaria);
}


.cabecalho__menu{

  display: flex;
  gap: 80px;

}
.cabecalho__menu__link{

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-segundaria);
  text-decoration: none;
}

.item{
  font-size: 14px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  gap: 32px;

}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

}
.apresentacao__links__link{
        
        text-decoration: none;
        display: flex;
        flex-direction:row;
        border: 2px solid var(--cor-primaria);
        border-radius: 4px;
        gap: 16px;
        align-items: center;
        margin: 8px;
        
}

.apresentacao__links__link:hover{
  background-color: var(--cor-segundaria);
  font-size: 16px;

}

.casamento__imagem {
   
  width: 500px;
  border-style: solid;
  border-radius: 16px;
  border-color: var(--cor-primaria);

  }
  
    .texto__final{
      font-size: 24px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      
    }
    

    .rodape {
      padding: 32px;
      color: var(--cor-preta);
      background-color: var(--cor-primaria);
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
}
    
