@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

.casamento__container{
    margin: 10% 15%;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center;
    font-family: 'Alkatra', cursive;
    gap: 25px;
    
 }

body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #E892E1;
  color: #FF2ED6;
}

.item{
  font-size: 14px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  gap: 32px;

}
.apresentacao__links__link{
        
        text-decoration: none;
        display: flex;
        flex-direction:row;
        border: 2px solid #E500C6;
        border-radius: 4px;
        gap: 16px;
        align-items: center;
        margin: 8px;
        
}

.casamento__imagem {
   
  width: 500px;
  border-style: solid;
  border-radius: 16px;
  border-color: #E500C6;

  }
  
    .texto__final{
      font-size: 24px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      
    }
    

    
