*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #C9B7FF;
    color: #ABF2FF;
    
    }
    .geo {
        color: red;
    }
    .tai{
        color: blue;
    }
    img {

        width: 500px;
      
      }
      
      

   
   